* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  @font-face{
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display:fallback;
  }

.page {
  background: url(background.jpg) repeat 0 0;
  width: 100%;
  height: auto;
  font-family: stratosskyeng;
  font-weight: 400;
}

.game{
  margin: 150px;
}

.start-button {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
    background-color: black;
    border: 1px solid black;
    border-radius: 32px;
    width: 250px;
    height: 45px;
    display: block;
    margin: 150px;
}

.rules {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
  margin-top: 186px;
}


 #zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 500px;
        height: 150px;
        text-align: center;
        padding: 15px;
        border: 3px solid black;
        border-radius: 10px;
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
      }
      #zatemnenie:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid black;
        color: black;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {background: #e6e6ff;}